<h1></h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name" [(ngModel)]="register.name" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" [(ngModel)]="register.email"/>
    <p>Mensajes de errores</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password"/>
    <p>Mensajes de errores</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Acción</button>
</form>
<hr/>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name"/>
<hr class="line-error" 
    [ngClass]="{
      'valid': nameInput4.valid,
      'invalid': nameInput4.invalid
    }"
    />
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido</p>
<div>
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background-color': box.background,
    'display': 'block'
  }"></div>
  
</div>

<hr/>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">Texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg"/>
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar"/>
  </div>
</div>
<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'j'">
    Jessenia    
  </p>  
  <p *ngSwitchCase="'c'">
    Chris    
  </p>  
  <p *ngSwitchCase="'k'">
    Kathy
  </p>  
  <p *ngSwitchDefault>
    Angular
  </p>
</div>
<hr/>
<h1>*ngFor Objetos</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.pathImage" alt="image"/>
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr/>
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0"> No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'secret key'">Ella ❤</p>
<p *ngIf="person.name === 'Èl' && person.age === 27; else elseBlock">Chris ❤</p>
<ng-template #elseBlock>
  <p>Bloque else</p>
</ng-template>

<hr/>
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>
<p>Edad {{person.age}}</p>
<input type="number" max="30" min="18" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ageInput.valid}}</p>
<hr/>
<h1>Eventos</h1>
<button [disabled] = "btnDisabled">Enviar</button>
<button (click)= "toggleButton()">Toggle Bittong</button>
<button (click)= "increanseAge()">Age ++</button>
<h3>Age {{ person.age }}</h3>
<hr/>
<h1>Propiedades</h1>
<button [disabled] = "btnDisabled">Enviar</button>
<div class="box" (scroll)="onScroll($event)">
  <p>tortor feugiat, eu varius odio feugiat. Pellentesque semper purus quis augue cursus, sit amet tristique quam iaculis. Aenean fermentum lectus in enim commodo, id vestibulum orci molestie. Curabitur ultrices posuere dui, in bibendum ipsum vehicula nec. In vel dui et nisi consequat accumsan. Sed vel tellus suscipit, euismod mi vel, tincidunt orci. Maecenas pretium, ex quis sollicitudin blandit, erat augue dignissim arcu, at commodo est mauris sit amet magna. Donec suscipit, ex vitae lacinia fermentum, elit augue ornare ex, ut tempor metus ante vel ante. Nunc in volutpat elit. Nulla facilisi.

    Nam efficitur, metus euismod tristique suscipit, lacus arcu molestie sapien, sit amet semper tellus velit sed mauris. Praesent ut orci at turpis lobortis placerat. In fermentum arcu vel orci accumsan, ut aliquet turpis vulputate. Fusce at lectus sapien. Fusce quis enim in turpis fermentum mollis. Vestibulum ac risus id nibh commodo dictum at sed sapien. Vestibulum vel ipsum ut justo blandit malesuada. Quisque malesuada risus at tellus vehicula, at aliquet elit euismod. Pellentesque quis pretium velit, vel hendrerit mauris. Suspendisse potenti. Aenean non metus non est semper volutpat vel vel odio. Sed eget congue risus, quis luctus velit. Integer condimentum risus sed mauris auctor, id ullamcorper felis molestie. Aenean ut elit sem. Sed sed sapien erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac magna aliquet, lobortis nisi vel, congue eros. Sed sit amet nisl ac nibh faucibus tempus eget id sapien. Nullam rutrum elit et dolor rhoncus tristique. </p>
</div>
<p>Nombre {{person.age}}</p>
<input type="tex" [value]="person.name" (keyup)="changeName($event)"/>
<br>
<progress max = "100" [value] = "person.age"></progress>
<br>
<img with = "100" [src] = "person.avatar"/>
<br>
<input type="text" [value]="person.name">
<hr/>
<h1> Hola mundo </h1>
<h2>{{'Hola mundo \n'.repeat(5)}}</h2>
<p>{{3+3}}</p>

<h3>Hola soy, {{ name }} y tengo {{ age }}</h3>
<img src = {{img}} alt  ="image">